.icons{
    width: 100%;
    height: 2vh;
    text-align: center;
    padding-right: 1%;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.shortlistimg{
    background-image: url(../images/shortlist.png);

}
.viewimg{
    background-image: url(../images/view.png);
}
.edit_flex{
    flex-direction: column;
    gap: 1vh;
}
.flex_row{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}
.S_description{
    width: 90%;
    height: 14vh;
}
select,textarea{
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
.cleaner_arrow{
    width:15px;
    height: 15px;
    margin-left: 0;
    margin-top: 1.75vh;
}
.stat_containerList{
    display: flex;
    flex-direction: row;
    width: 100px;
    .text{
        padding-right: 5%;
        margin-left: -3%;
        margin-top: -1%;
    }
}
.cleanercard{
    height: auto;
}
.emptyspace{
    height: 1vh;
    width: 1px;
}
.unactivated{
    transform: rotate(135deg);
}
.activated{
    transform: rotate(315deg);
    margin-top: 3.25vh;
}
.fullsize{
    width: 100%;
    p{
        width: 30vh;
    }
}
.extendedtext{
    z-index: 0;
    width: 100%;
    text-align: left;
    gap: 0 !important;

}
.S_desc_alignment{
    align-self: flex-start;
}
.none{
    display: none !important;
}
.record{
    background-image: url(../images/Record_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 4vh;
    width: 4vw;
    background-position: center;
    margin-bottom: -1vh;
}