<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Service Listing Info</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
  <link th:href="@{/shared.css}" rel ="stylesheet" type="text/css"/>
  <link th:href="@{/cleaner.css}" rel ="stylesheet" type="text/css"/>
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css}">
</head>
<body>

  <div class="main-wrapper">
    <!-- Header Section -->
    <div class="header-box">
      <div class="navbar-logo">
        <img th:src="@{images/logo.png}" alt="" style="width: 70px; height: 70px;">
      </div>
      <div class="nav-actions">
        <a th:href="@{/CleanerHome}" class="nav-home">Home</a>
        <a th:href="@{/Logout}" class="logout-btn">Logout</a>
      </div>
    </div>

    <!-- Welcome Message -->
    <div class="user-management-header">
      <h2>Hello <span th:text="${username}">Cleaner’s Name</span></h2>
      <p>Welcome To Service Management</p>
    </div>

    <!-- All User Action Boxes Container -->
    <div class="action-container-outline">

      <!-- User Account Section -->
      <h3 class="section-title">Manage Services</h3>
      <div class="action-card-row">

        <a th:href="@{/CleanerCreateService}" class="action_link">
        <div class="action-card">
          <div class="icon"><i class="fa-solid fa-user-plus"></i></div>
          <h4>Create A New Service Listing</h4>
          <p>Offer New Services to Employers</p>
        </div>
        </a>

        <a th:href="@{/ViewAllServiceListings}" class="action_link">
        <div class="action-card">
          <div class="icon"><i class="fa-solid fa-pen"></i></div>
          <h4>Update A Service Listing</h4>
          <p>Modify an existing service</p>
        </div>
        </a>

        <a th:href="@{/ViewAllServiceListings}" class="action_link">
        <div class="action-card">
          <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
          <h4>Search My Listings</h4>
          <p>View and Search my services.</p>
        </div>
        </a>

        <a th:href="@{/CleanerViewRecords}" class="action_link">
        <div class="action-card">
          <div class="icon"><i class="fa-solid record"></i></div>
            <h4>My Service Records</h4>
            <p>View my past services.</p>
        </div>
        </a>

      </div>
    </div>
  </div>

</body>
</html>
